<div *ngIf='load; then loaded else loadButton'>
</div>

<!-- Loaded -->
<ng-template #loaded>
 <div>
  <button (click)='fillList()'>Fill List</button>
</div>

<div class="moves-wrapper">
  <div>
    <strong>Selected Move: </strong> {{ selectedMove }}
  </div>
  <div>
    <ul class="moves-list" *ngFor="let move of moves | async">
      <li (click)='setSelection( move.name )' class="moves-list-item">
        {{ move.name }} <strong>{{move.cost}}</strong>
      </li>
    </ul>
  </div>
<!-- CREATE MOVE -->
  <div>
    <form class="move-form"
      #userForm="ngForm"
      (ngSubmit)='onSubmit(userForm.value)'>
      <input (keydown.enter)='$event.preventDefault()' type="text" name="name" placeholder="name" ngModel required><br>
      <input (keydown.enter)='$event.preventDefault()' type="text" name="cost" placeholder="ex...12 mp" ngModel><br>
      <input (keydown.enter)='$event.preventDefault()' type="text" name="class/race" placeholder="class or race..." ngModel> <br>
      <select name="type" ngModel>
        <option *ngFor='let type of types' [ngValue]='type'> {{type}} </option>
      </select> <br>
      <select name="category" ngModel>
        <option *ngFor='let category of categories' [ngValue]='category'> {{category}} </option>
      </select> <br>
      <textarea name="effect" placeholder="effect..." ngModel></textarea> 
      <br> <br>
      <input type="submit" value="submit">
    </form>
  </div>
<!-- create move END -->
</div>
</ng-template>

<!-- Button to load -->
<ng-template #loadButton>
  <button (click)='loadList()'>Load Moves</button>
</ng-template>