<div *ngIf='load; then loaded else loadButton'>
</div>

<!-- Loaded -->
<ng-template #loaded>

<div class="moves-wrapper white space">
  <!-- <button (click)='loadList()'>Fill List</button> <br>   -->
  <div class="moves-list-wrapper space">
    <div>
      <strong>Selected Move: </strong> {{ selectedMove }}
    </div>
    <ul class="moves-list" *ngFor="let move of moves | async">
      <li (click)='setSelection( move.name )' class="moves-list-item">
        {{ move.name }}
      </li>
    </ul>
  </div>
<!-- CREATE MOVE -->
  <div class="move-wrapper space">
    <input type="text" name="name" placeholder="Name" [(ngModel)]='currentMove.name'><br>
    <input type="text" name="cost" placeholder="Cost...ex .12 MP" [(ngModel)]='currentMove.cost'><br>
    <input type="text" name="class/race" placeholder="Classes and/or Races..." [(ngModel)]='currentMove.classRace'> <br>
    <select name="type" [(ngModel)]='currentMove.type'>
      <option class="grey" value="" disabled selected>Type</option>
      <option *ngFor='let type of types' [ngValue]='type'> {{type}} </option>
    </select> <br>
    <select name="category" [(ngModel)]='currentMove.category'>
      <option class="grey" value="" disabled selected>Category</option>
      <option *ngFor='let category of categories' [ngValue]='category'> {{category}} </option>
    </select>
    <div>
      <textarea name="effect" placeholder="Effect..." [(ngModel)]='currentMove.effect'>
        {{currentMove.effect}}
      </textarea>
      <div *ngFor="let extra of extras; let i=index;">
        <!-- <input type="number" [(ngModel)]='currentMove.extras[i].index'/> -->
        <input type="text" [(ngModel)]='extra.condition' placeholder="Condition"/>
        <input type="text" [(ngModel)]='extra.effect' placeholder="Effect"/>
        <button type="button" (click)="removeExtra(i)">remove</button>
      </div>
      <button type="button" (click)="addExtra()">Add extra</button>
    </div> 
    <br>
    <button (click)='submitMove()'>Upload Move</button>
    <!-- <div class="white">
      {{currentMove | json}}
    </div>
    <div class="white">
      {{extras | json}}
    </div> -->
  </div>
<!-- create move END -->
</div>
</ng-template>

<!-- Button to load -->
<ng-template #loadButton>
  <button (click)='loadList()'>Load Moves</button>
</ng-template>