<div *ngIf='load; then loaded else loadButton'>
</div>

<!-- Loaded -->
<ng-template #loaded>

<div class="moves-wrapper white">
  <!-- <button (click)='loadList()'>Fill List</button> <br>   -->
  <div class="moves-list-wrapper soft-padded">
    <div>
      <form id="filter">
        <label>Moogle Search:</label>
        <input id="moogleSearch" name="moogleSearch" type="text" [(ngModel)]='moogleSearch'/>
      </form>
    </div>
    <div class="soft-padded">
      <strong> <pre>Selected: {{selectedMove}}</pre> </strong>
    </div>
    <ul class="moves-list soft-padded" *ngFor="let move of moves | async | filter:moogleSearch ">
      <li class="moves-list-item" (click)='setSelection( move.name )' >
        {{ move.name }} {{ move?.cost }}
      </li>
    </ul>
  </div>
<!-- CREATE MOVE -->
  <div class="move-container ">
    <input class="cell-1" type="text" name="name" placeholder="Name" [(ngModel)]='currentMove.name'>
    <input class="cell-2" type="text" name="cost" placeholder="Cost...ex .12 MP" [(ngModel)]='currentMove.cost'>
    <input class="cell-3" type="text" name="class/race" placeholder="Classes and/or Races..." [(ngModel)]='currentMove.classRace'>
    <select class="cell-4" name="type" [(ngModel)]='currentMove.type'>
      <option class="grey" value="" disabled selected>Type</option>
      <option *ngFor='let type of types' [ngValue]='type'> {{type}} </option>
    </select> <br>
    <select class="cell-5" name="category" [(ngModel)]='currentMove.category'>
      <option class="grey" value="" disabled selected>Category</option>
      <option *ngFor='let category of categories' [ngValue]='category'> {{category}} </option>
    </select>
    <div class="cell-6">
      <textarea id="effect" class="soft-padded" name="effect" placeholder="Effect..." [(ngModel)]='currentMove.effect'>
        {{currentMove.effect}}
      </textarea>
      <div class="exConEff" *ngFor="let extra of extras; let i=index;">
        <pre class="exIndex"> {{i+1}} </pre>
        <textarea class="exCon soft-padded" [(ngModel)]='extra.condition' rows="3" placeholder="Condition"></textarea>
        <textarea class="exEff soft-padded" [(ngModel)]='extra.effect'    rows="3" placeholder="Effect"   ></textarea>
        <!-- TRASH ICON in this line below -->
        <button class="exRem" type="button" (click)="removeExtra(i)"><pre> remove </pre></button>
      </div>
      <div id="addExtra">
        <button type="button" (click)="addExtra()"><strong><pre> + </pre></strong></button>
      </div>
    </div>
    <button class="cell-7" (click)='submitMove()'><strong> Upload Move </strong></button> 
    <!-- <div class="white">
      {{currentMove | json}}
    </div>
    <div class="white">
      {{extras | json}}
    </div> -->
  </div>
<!-- create move END -->
</div>
</ng-template>

<!-- Selected Move -->
<ng-template #selectedMove>
<div *ngIf='selectedMove !== null'>
  
</div>
</ng-template>

<!-- Button to load -->
<ng-template #loadButton>
  <button (click)='loadList()'>Load Moves</button>
</ng-template>