<div *ngIf='load; then loaded else loadButton'>
</div>

<ng-template #loaded>
<div class="users-list-wrapper">
  <ul class="users-list" *ngFor="let user of users | async">
    <li *ngIf='user.status==="online"' class="users-list-item">
      <strong>Name: </strong> {{ user?.displayName }} <br>
      <!-- <strong>uid:</strong> {{ user.uid }} <br> -->
      <strong>email:</strong> {{ user.email }} <br>
      <span [ngClass]='{"green": user.status==="online", "red": user.status==="offline"}'> {{ user?.status }} </span>
    </li>
  </ul>
  <ul class="users-list" *ngFor="let user of users | async">
      <li *ngIf='user.status==="offline"' class="users-list-item">
        <strong>Name: </strong> {{ user?.displayName }} <br>
        <!-- <strong>uid:</strong> {{ user.uid }} <br> -->
        <strong>email:</strong> {{ user.email }} <br>
        <span [ngClass]='{"green": user.status==="online", "red": user.status==="offline"}'> {{ user?.status }} </span>
      </li>
    </ul>
</div>
</ng-template>

<ng-template #loadButton>
  <button (click)='loadList()'>Load Users</button>
</ng-template>
