<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
<div class="login">
  <div class="moogle filler"></div>
  <div class="login-content">
    <strong>Hello, Kuppo.</strong><span> Login to get started...</span>
    <div> <input type="text" [(ngModel)]='email' placeholder="email..."> </div>
    <div><input type="password" [(ngModel)]='password' placeholder="password..."> </div>
    <button (click)='this.auth.emailLogin(this.email, this.password)'>Login</button>
    <!-- SOS deactivate -->
    <button (click)='this.auth.emailSignup(this.email, this.password)'>SignUp</button> 
    <!-- <div><button (click)="auth.googleLogin()"><i class="fa fa-google"></i>Connect Google</button></div> -->
  </div>
  <div class="filler"></div>
</div>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
<div *ngIf="auth.user | async as user">
  <div class="user-profile-wrapper">
    <div class="user-screen">
      <h3>Hello mythwalker, {{ user.displayName }}</h3>
      <!-- <p>UID: {{ user.uid }}</p>
      <p>Favorite Color: {{ user?.favoriteColor }} </p>
      <p>Image URL: {{user?.photoURL}}</p> -->
      <button (click)="auth.signOut()">Logout</button>
      <div>
        <input type="text" [(ngModel)]='displayName'>
        <button (click)='this.auth.setMergeData("users", this.auth.userId, {"displayName": this.displayName})'>
           Update Display Name
        </button>
      </div>
      <div>
        <input type="text" [(ngModel)]='imageURL'>
        <button (click)='this.auth.setMergeData("users", this.auth.userId, {"photoURL": this.imageURL})'>
           Update ImageURL
        </button>
      </div>
    </div>
    <div class="users-list">
      <app-users-list></app-users-list>
    </div>
  </div>
</div>
</ng-template>